:root {
	--palette-white-primary: #fff;

	--palette-green-primary: #06B25F;
	--palette-green-primary-dark: #0B9854;

	/* 30 */
	--palette-black-primary-light: #2424244C;
	--palette-black-primary-navy: #242424CC;

	--palette-blue-primary: #00A4E8;
}