:root {
	--palette-white-primary: #fff;

	--palette-green-primary: #06B25F;
	--palette-green-primary-dark: #0B9854;

	/* 30 */
	--palette-black-primary-light: #2424244C;
	--palette-black-primary-navy: #242424CC;

	--palette-blue-primary: #00A4E8;
	--palette-blue-secondary: #276ED8;
	--palette-blue-tertiary: #84B5FF;

	--palette-dark-blue-primary: #194484;

	/* sizes */

	/* --breakpoint-small: 320px;
	--breakpoint-little: 480px;
	--breakpoint-medium: 768px;
	--breakpoint-large: 1024px;
	--breakpoint-big: 1280px;
	--breakpoint-huge: 1600px;
	--breakpoint-u-huge: 1920px; */
}