.top-block {
	position: relative;
}

.top-block__img {
	object-fit: cover;
	object-position: bottom center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.top-block__container {
	display: flex;
}

.top-block__title {
	color: var(--palette-white-primary);
}

.top-block__desc {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: var(--palette-white-primary);
}

.top-block__box-btns {
	margin-bottom: 60px;
}

.top-block__box-dots {
	display: flex;
}

.top-block__dot {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 3px solid var(--palette-white-primary);
	transition: background 0.3s;
}

.top-block__dot:hover {
	background-color: var(--palette-white-primary);
}

.top-block__dot--active {
	background-color: var(--palette-white-primary);
}

.top-block__dot:not(:last-child) {
	margin-right: 20px;
}

@media (min-width: 781px) {
	.top-block__img {
		height: 100%;
	}

	.top-block__container {
		padding: 300px 0;
	}

	.top-block__container-title-n-desc-n-btns {
		flex-basis: 670px;
	}

	.top-block__title {
		color: var(--palette-white-primary);
	}

	.top-block__btn:first-child {
		margin-right: 25px;
	}
}

@media (max-width: 780px) {
	.top-block__img {
		height: 65%;
	}

	.top-block__container {
		padding: 110px 0 20px 0;
	}

	.top-block__container-title-n-desc-n-btns {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.top-block__title {
		order: 0;
		text-align: center;
		margin-bottom: 36px;
		font-size: 36px;
	}

	.top-block__box-btns {
		order: 1;
		margin-bottom: 150px;
	}

	.top-block__btn:first-child {
		padding: 8px 35px;
		margin-right: 15px;
	}

	.top-block__btn:last-child {
		padding: 10px 20px;
	}

	.top-block__desc {
		order: 2;
		text-align: center;
		color: var(--palette-black-primary);
	}

	.top-block__box-dots {
		display: none;
	}
}

@media (max-width: 480px) {
	.top-block__img {
		height: 55%;
	}

	.top-block__title {
		font-size: 24px;
		line-height: 38px;
	}

	.top-block__btn:first-child {
		padding: 8px 25px;
		margin-right: 15px;
	}

	.top-block__btn:last-child {
		padding: 10px 10px;
	}
}